<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	<title>Dashboard</title>
	

    <!-- Bootstrap CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
	
	<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
	
	
  <link rel="stylesheet" href="/assets/font/bootstrap-icons.css">
	<!-- Basic stylesheet -->
<link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
 
 
<!-- You can use latest version of jQuery  -->
<script src="/assets/js/jquery-1.9.1.min.js"></script>
 
<!-- Include js plugin -->
	
<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/theme-1.css" rel="stylesheet" type="text/css" />

<!-- Include js plugin -->
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/javacustom/navbar.js"></script>
<script type="text/javascript" src="/assets/js/javacustom/adminDashboard.js"></script>
  </head>
  <body>
    <div th:insert="/admin/navbar"></div>
        <div th:insert="/admin/sidebar"></div>
		<main id="main" class="main">
            <section class="section" style="min-height: 480px">
                <div class="d-flex align-items-center justify-content-between">
                <h4>Dashboard</h4>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="bi bi-house-fill"></i> Home</a></li>
                        <li class="breadcrumb-item active"> Dashboard</li>
                    </ol>
                </nav>
            </div>
			<div class="row py-3">
                    <div class="col-lg-4">
						<div class="card card shadow-sm">
						<div class="more">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li><a class="dropdown-item" href="#">Recent</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>
						  <div class="card-body">
							<h3 class="card-title">Current Month's Pending Status </h3>
							<p class="card-text"><span class="stat1 badge bg-warning" id="nps"></span>
							</p>
							<hr>
							<span class="">Pending</span><a href="/admin/pendingstatus" class="link-sm" style="float:right">View more</a>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card shadow-sm">
						<div class="more">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li><a class="dropdown-item" href="#">Recent</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>
						  <div class="card-body">
							<h3 class="card-title">Current Month's Approval Status</h3>
							<p class="card-text"><span class="stat1 badge bg-success" id="nas"></span>
							</p>
							<hr>
							<span class=""> to be appoved</span><a href="/admin/approvedstatus" class="link-sm" style="float:right">View more</a>
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card shadow-sm">
						  <div class="card-body">
							<h3 class="card-title">Timesheet Request</h3>
							<p class="card-text"><span class="stat1 badge bg-danger">15</span>
							</p>
							<hr>
							<span class=""> No. of Request</span><a href="#" class="link-sm" style="float:right">View more</a>
						  </div>
						</div>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-lg-6">
						<div class="card card shadow-sm">
						<div class="more">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li><a class="dropdown-item" href="#">Recent</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>
						  <div class="card-body">
							<h3 class="card-title">Client Detail</h3>
							<div class="table-responsive">
					<table class="table link-sm">
					  <thead class="table-primary">
						<tr>
						  <th scope="col">Id</th>
						  <th scope="col">Email</th>
						  <th scope="col">Current Client</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><a href="#">22283</a></td>
						  <td><a href="#">akshayakumar.mahanty@ojas-it.com</a></td>
						  <td>Deloitte</td>
						</tr>
					  </tbody>
					</table>
					</div>

							
							
						  </div>
						  <div class="card-footer">
							<a href="#" class="link-sm" style="float:right">View all</a>
						  </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card card shadow-sm">
						<div class="more">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li><a class="dropdown-item" href="#">Recent</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>
						  <div class="card-body">
							<h3 class="card-title">Resource Status</h3>
							<div class="table-responsive">
					<table class="table link-sm">
					  <thead class="table-primary">
						<tr>
						  <th scope="col">Id</th>
						  <th scope="col">Email</th>
						  <th scope="col">Status</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><a href="#">22283</a></td>
						  <td><a href="#">Sushantkumar.mohanty@ojas-it.com</a></td>
						  <td><button type="button" class="btn btn-success btn-sm"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Active</button></td>
						</tr>
						<tr>
						  <td><a href="#">22283</a></td>
						  <td><a href="#">akshayakumar.mohanty@ojas-it.com</a></td>
						  <td><button type="button" class="btn btn-light btn-sm">In-active</button></td>
						</tr>
					  </tbody>
					</table>
					</div>

							<div id="piechart"></div>
							
						  </div>
						  <div class="card-footer">
							<a href="#" class="link-sm" style="float:right">View all</a>
						  </div>
						</div>
					</div>
				</div>
            </section>
        </main>
		<footer id="footer" class="footer">
            <div class="copyright">
                © Copyright. All Rights Reserved
            </div>
        </footer>
  
  
  

	
	 <!-- Option 1: Bootstrap Bundle with Popper
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
    <script src="/assets/js/bootstrap.bundle.min.js" ></script>
 
	<script src="/assets/js/main.js"></script>
  </body>

</html>