<aside id="sidebar" class="sidebar">
            <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <i class="bi bi-grid"></i>
              Dashboard
            </a>
          </li>
		  <li class="nav-item">
				<a class="nav-link" href="/admin/pendingstatus"> <i class="bi bi-journal-text"></i><span>Pending Status</span></a>
		  </li>
		  <li class="nav-item">
				<a class="nav-link" href="/admin/approvedstatus"> <i class="bi bi-journal-text"></i><span>Approved Status</span></a>
		  </li>
		  <li class="nav-item">
				<a class="nav-link" href="/admin/allemptimesheet"> <i class="bi bi-journal-text"></i><span>Check all</span></a>
		  </li>
		  <li class="nav-item">
				<a class="nav-link" href="/admin/resource"> <i class="bi bi-journal-text"></i><span>Resource Status</span></a>
		  </li>
		  <!-- <li class="nav-item">
				<a class="nav-link" href=""> <i class="bi bi-journal-text"></i><span>Timesheet Request</span></a>
		  </li>
		  <li class="nav-item">
				<a class="nav-link" href=""> <i class="bi bi-journal-text"></i><span>Client Details</span></a>
		  </li> -->
		<li class="nav-item">
				<a class="nav-link" href="/addclient"> <i class="bi bi-journal-text"></i><span>Add New Client</span></a>
		  </li>
         <li class="nav-item">
				<a class="nav-link" href="/addtechnology"> <i class="bi bi-journal-text"></i><span>Add New Technology</span></a>
		  </li> 
		  <li class="nav-item">
				<a class="nav-link" href="/admin/registration"> <i class="bi bi-journal-text"></i><span>Add New Role</span></a>
		  </li> 
        </ul>
   
</aside>