<aside id="sidebar" class="sidebar">
            <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <i class="bi bi-grid"></i>
              Dashboard
            </a>
          </li>
		  <li class="nav-item">
				<a class="nav-link" href="/user/timesheet"> <i class="bi bi-journal-text"></i><span>Fill Timesheet</span></a>
		  </li>
		  		  <li class="nav-item">
				<a class="nav-link" href="/user/UploadHistory"> <i class="bi bi-journal-text"></i><span>View History</span></a>
		  </li>
		<!--  <li class="nav-item">
				<a class="nav-link" href=""> <i class="bi bi-journal-text"></i><span>Help</span></a>
		  </li>-->
        </ul>

        </aside>
